{% extends 'layout.twig' %}

{% block body %}
    <h1>{{ title }}</h1>
    <form id="login">
        <label>Nickname: <input id="nickname"></label>
        <label>Password: <input type="password" id="password"></label>
        <button>Login</button>
    </form>
    <form id="answer" style="display: none">
        <label>Answer: <input id="answer-input"></label>
        <button>Send</button>
    </form>
    <ul id="users" style="display: none"></ul>
    <button id="reset" style="display: none">Restart Answers</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script>
        $(function () {
            const socket = io();
            const player = {nickname: '', isAdmin: false};
            const $users = $('#users');
            const $answer = $('#answer');
            const $login = $('#login');
            const $reset = $('#reset');

            socket.on('game.admin-login', () => {
                $login.hide();
                $answer.hide();
                $users.show();
                $reset.show();
                player.isAdmin = true;
            });

            socket.on('game.player', p => {
                $login.hide();
                $answer.show();
                $users.hide();
                player.nickname = p.nickname;
            });

            socket.on('game.login-failed', () => {
                $('#password').val('');
                alert('Player exist or wrong password');
            });

            socket.on('game.reset', () => {
                $answer.find('input').val('');
            });

            socket.on('game.players-update', players => {
                $users.html('');
                for (const player of players) {
                    const $player = $(`<li>Player: <b>${player.nickname}</b> Answer: <b>${player.answer}</b></li>`);
                    $users.append($player);
                }
            });

            $login.submit(e => {
                e.preventDefault();
                socket.emit('game.login', {
                    nickname: $login.find('#nickname').val(),
                    password: $login.find('#password').val(),
                });
            });

            $answer.submit(e => {
                e.preventDefault();
                socket.emit('game.answer', {
                    message: $answer.find('input').val(),
                });
            });

            $reset.click(e => {
                e.preventDefault();
                socket.emit('game.reset');
            });
        });
    </script>
{% endblock %}
