{% extends 'layout.twig' %}

{% block body %}
    <section class="wrapper" id="app">
        <h1>{{ title }}</h1>
        <form id="login">
            <div class="form-input">
                <label for="nickname">Nickname:</label><input id="nickname">
            </div>
            <div class="form-input">
                <label for="password">Password:</label><input type="password" id="password">
            </div>
            <button class="button">Login</button>
        </form>
        <form id="answer" style="display: none">
            <div class="form-input">
                <label for="answer-input">Answer:</label><input id="answer-input">
            </div>
            <button class="button">Send</button>
        </form>
        <ul id="users" style="display: none"></ul>
        <button class="button" id="reset" style="display: none">Restart Answers</button>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>
{% endblock %}
