<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link href="/favicon.ico" rel="icon" type="image/x-icon"/>
    <meta data-react-helmet="true" name="viewport"
          content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes"/>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
