* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 60px;
    font-size: 6vw;
}

h1 {
    font-size: 1.1rem;
}

.wrapper {
    margin: 5px;
}

.form-input {
    margin-bottom: 5px;
    width: 100%;
}

.form-input > * {
    width: 50%;
    display: inline-block;
}

.button {
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    font-size: .9rem;
    border: 1px solid #000;
    border-radius: 0.2rem;
    margin: 0;
    padding: 0.2rem;
    width: auto;
    overflow: visible;

    background: transparent;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}
